<style>
    body {
        background-image: url("./images/mainBackground.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        width: 100%;
    }
    
    .cards {
        background-color: white;
        opacity: 5;
    }
</style>
<div>
    <form>
        <textarea cols="30" rows="10" placeholder="enter text" ng-model="editMemory.message"></textarea>
        <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add More
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel" ng-model="newImage.image">
                <input type="text" ng-model="newImage.text">

            </ul>
        </div>


    </form>
</div>
<button type="button" ng-click="submitMemory(); submitAssets();"><a href="#!/edit/{{item.id}}"></a>Edit Memory</button>