<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <a data-toggle="modal" data-target="#myModal" ng-click="removeFamId();">
            <button class="create-btn">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        </a>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Memory</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <!-- <label>
                            <input type="file" placeholder="choose an image" ng-model="newImage.image">
                        </label> -->
                        <textarea cols="30" rows="10" placeholder="enter text" ng-model="newMemory.text"></textarea>


                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="createMemory();">Create the Memory</button>
            </div>
        </div>
    </div>
</div>
<!-- this shows the family's memories -->
<div class="container-fluid">
    <div class="row card-row">
        <div class="col-md-3" ng-repeat="item in mems">
            <div class="cards">
                <p ng-model="newMemory.text" class="fam-page-paragraph">{{item.text}}</p>

                <a href=" #!/family_edit/{{item.id}} ">
                    <button class="edit-btn ">
                            <span class="glyphicon glyphicon-pencil "> </span>
                            </button>
                </a>
                <button ng-click="deleteMemory(item) " class="delete-btn ">
                            <span class="glyphicon glyphicon-trash "></span>
                        </button>
            </div>
        </div>
    </div>
</div>