<nav ng-controller="navCtrl" class="navBar">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4">





            <button class="help" data-toggle="tooltip" data-placement="bottom" title="Choose if you want to share stories with your family
            or if you want to share stories with no one!">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>





        </div>
        <div class="col-md-4">
            <div>
                <a href="#!/user_path">
                    <h1 ng-show="isLoggedIn" class="tmys">Tell Me Your Story</h1>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <!-- <button ng-show="!isLoggedIn"><a href="#!/login">Login</a></button> -->
            <button ng-show="isLoggedIn" ng-click="logout(); reloadRoute();"><a href="#!/">Log out</a></button>

        </div>
    </div>


</nav>