<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="choosePathText">Choose Your Path </h1>
    </div>
    <div class="col-md-4"></div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a ng-href="#!/user_personal"><button class="btn btn-primary btn-lg btn-block" >
                    <h1 class="pathText">Tell Your Story</h1> 
                   </button></a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a ng-href="#!/user_family"><button class="btn btn-primary btn-lg btn-block">
                    <h1 class="pathText">Tell Your Family Stories</h1>
                 </button></a>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>